<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);">
  <div class="container">
    <h1>Mister Cocktail brings the <strong>finest cocktails</strong>!</h1>
    <p>Change your life and learn to make an amazing cocktail.</p>
  </div>
</div>
<br>

  <div class="cards">
    <% @cocktails.each do |cocktail|  %>
      <% if cocktail.photo.present? %>
        <%= link_to cocktail_path(cocktail), {class: "cocktail-name"} do %>
          <div class="card-category" style="background-image: url(<%= cl_image_path cocktail.photo, crop: :fill %>)" >
            <p><%= cocktail.name.downcase %></p>
          </div>
        <% end %>
      <% else %>
        <div class="card-category" style="background-image: url(https://www.bbcgoodfood.com/sites/default/files/guide/guide-image/2012/08/cocktail-selection.jpg)" >
          <p><%= link_to cocktail.name.downcase, cocktail_path(cocktail), {class: "cocktail-name"}%></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= link_to "Add a new cocktail", new_cocktail_path %>


