<div class="container">
  <div>
    <%= link_to "Back", cocktails_path %>
  </div>


  <div class="">
    <h2>Add a new ingredient to <%= @cocktail.name %></h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.submit "Add the ingredient" %>
    <% end %>
  </div>


</div>
